@import "partials/header";
@import "partials/mixins";
@import "partials/quotes";
@import "partials/info";
@import "partials/footer";

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: $mainFont;
  color: $mainColor;
  font-size: 16px;
  //background: #E0EAFC; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //background: #8e9eab; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //background: #ECE9E6; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //background: #EDE574; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to left, #EDE574 , #E1F5C4); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to left, #EDE574 , #E1F5C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: url("../img/dakheur-klub-buro.jpg");
  background-size: cover;
  background-attachment: fixed;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


main {
  padding: 4%;
  section {
    margin-top: 150px;
    img {
      width: 100%;
    }
    p {
      font-size: 2rem;
      font-style: italic;
      text-align: justify;
      line-height: 1.5;
      letter-spacing: 1px;
    }
  }

}