@import "partials/header";
@import "partials/mixins";
@import "partials/quotes";
@import "partials/info";
@import "partials/footer";
@import "partials/portfolio";
@import "partials/contact";
@import "partials/clouds";

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: $mainFont;
  color: $mainColor;
  font-size: 16px;
  background: #E0EAFC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  -ms-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  &:hover {
    opacity: .6;
  }
}


main {
  section {
    margin-top: 150px;

    p {
      font-size: 2rem;
      font-style: italic;
      text-align: justify;
      line-height: 1.5;
      letter-spacing: 1px;
    }
  }
}