@import "partials/header";
@import "partials/mixins";
@import "partials/info";
@import "partials/footer";
@import "partials/projets";
@import "partials/contact";
@import "partials/intro";
@import "partials/singleproject";
@import "partials/forms";
@import "partials/frame";
@import "partials/404";

html, body {
  // width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $mainFont;
  color: $mainColor;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// SCROLLBARS
::-webkit-scrollbar {
    width: 8px;
    // display: none;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-left: 1px solid #fff;
}
::-webkit-scrollbar-thumb {
    background-color: $mainColor;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
}

-moz-scrollbars-horizontal {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  -ms-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}

a.non-active {
  text-transform: uppercase;
  letter-spacing: 2px;
  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $mainColor;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  &:hover {
    opacity: 1;
  }

  &:hover::after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
}

a.active {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid $mainColor;
  &:hover {
  }
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 4px;
  color: $mainColor;
  margin: 0 0 40px 0;

}

main {
  section {
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 4% 60px;
    width: 70%;
    @media only screen and (min-width : 1824px) {
      max-width: 1200px;
    }
    @media only screen and (min-device-width : 320px) and (max-device-width : 740) {
    // width: 100%;
    padding: 0;
    margin-top: 0;
    }
    p {
      font-size: 1.5rem;
      text-align: left;
      line-height: 1.5;
      letter-spacing: 1px;
      webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      @media only screen and (min-device-width : 320px) and (max-device-width : 680px) {
      font-size: 1rem;
      text-align: justify;
      padding: 0 5% 5%;
      margin: 0;
      }
      @media only screen and (min-width : 1224px) and (max-device-width : 1824px){
        font-size: 1.3rem;
      }
      &:nth-child(2) {
        //font-size: 1.7rem;
        //text-align: justify;
      }
    }
  }
}
