@import "mixins";

// Motio
.panning {
  width: auto; // Span to the full width of container
  height: 100%;
  background: url("../img/stars.png");
  background-attachment: fixed;
}

#error {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  cursor: url('../img/cosmonaut1.cur'), pointer;
  h1 {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Yep! */;
    font-size: 2rem;
  }
  q {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%); /* Yep! */;
    font-size: 1rem;
  }
  a#houston {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%); /* Yep! */;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 2%;
    font-style: normal;
    letter-spacing: 4px;
    color: #fff;
    background: $mainColor;
    &:hover {
      opacity: .7;
      }
  }
  #houston-nav {
    display: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Yep! */;
    width: 100%;
    background: #fff;
    ul {
      text-align: center;
      display: flex;
      li {
        width: 100%;
        line-height: 8;
        a {
          font-size: 1rem;
          text-transform: uppercase;
          padding: 2%;
          font-style: normal;
          letter-spacing: 4px;
          color: #fff;
          background: $mainColor;
          &:hover {
            opacity: .7;
            }
        }
      }
    }
  }
}
