@import "mixins";

section#contact {
  padding-top: 150px;
  text-align: center;
  ul {
    li {
      font-size: 2rem;
      font-style: italic;
      &:first-child {
        font-size: 4rem;
        margin-bottom: 3%;
      }
    }
  }
}
