@import "mixins";

footer {
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: 1rem;
  color: $secondColor;
  text-align: center;
  font-style: italic;
  padding: 1% 4%;
  a:hover {
    opacity: .6;
  }
  p {
    margin: 0;
  }
  div ul {
    display: flex;
    justify-content: space-between;
    li {
      margin-left: 40px;
    }
  }
}