form {
  width: 90vw;
  display: block;
  margin: 0 auto;
  padding-top: 20vh;
  label {
  }
  input {
  }
  button {
    margin-top: 50px;
    letter-spacing: 2px;
    background: $mainColor!important;
    -webkit-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
    -ms-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
    &:hover {
      opacity: .5;
    }
  }
}
