#frame {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Yep! */
  width: 70vw;
  height: 65vh;
  // border: solid 2px $mainColor;
  // background: url('../img/hero-background.jpg');
  background: url('../img/dick.png');
  background-repeat: no-repeat;
  background-size: cover;
  // opacity: .1

}
