@import "mixins";

header {
  text-align: center;
  nav#main-nav {
    ul {
      padding: 0 4%;
      display: flex;
      justify-content: space-between;
      list-style: none;
      li {
        align-self: center;
        img {
          padding-top: 2%;
          height: 75px;
        }
        a {
          color: #333;
          letter-spacing: 1px;
          font-size: 1.2rem;
          font-style: italic;
          padding: 0 2px;
          &:hover {
          }
        }
      }
    }
  }
}