@import "mixins";

header {
  text-align: center;
  background: #fff;
  nav#main-nav {
    position: fixed;
    width: 100%;
    ul {
      padding: 0 4%;
      display: flex;
      justify-content: space-between;
      list-style: none;
      li {
        align-self: center;
        img {
          padding-top: 2%;
          height: 150px;
        }
        a {
          color: $navColor;
          letter-spacing: 1px;
          font-size: 1.2rem;
          font-style: italic;
          padding: 0 2px;
          -webkit-transition: all 400ms ease-in;
          -moz-transition: all 400ms ease-in;
          -ms-transition: all 400ms ease-in;
          -o-transition: all 400ms ease-in;
          transition: all 400ms ease-in;
          &:hover {
            background: $navColor;
            color: #fff;
          }
        }
      }
    }
  }
}