@import "mixins";

header {
  text-align: center;
  @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
  background: $mainColor;
  color: #fff;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  }
  nav#main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    font-family: $navFont;
    letter-spacing: 4px;
    @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
    display: none;
    }
    a {
      position: fixed;
      font-size: .8rem;
      padding: 0 0 10px;
      @media only screen and (min-width : 1224px) and (max-device-width : 1824px){
        font-size: .7rem;
      }
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        font-size: .7rem;
      }
    }
    a.top-left {
      top: 40px;
      left: 60px;
    }
    a.top-right {
      top: 40px;
      right: 60px;
    }
    a.bottom-right {
      bottom: 40px;
      right: 60px;
    }
    a.bottom-left {
      bottom: 80px;
      left: 40px;
      -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
      transform: rotate(-90deg);
    }
  }
  #mobile-nav {
    display: none;
    padding: 5%;
    @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
    display: block;
    }
    h1 {
      // display: none;
      position: fixed;
      z-index: 1;
      top: 20px;
      left: 20px;
      color: #fff;
    }
    span {
      margin-top: 5vh;
      font-family: $navFont;
      font-size: 1.5rem;
      font-weight: 100;
      line-height: .8;
      text-transform: uppercase;
    }
  }
  nav#projects-nav {
    ul {
      img {
        width: 30px;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        @media only screen and (min-width : 1224px) and (max-device-width : 1824px){
          width: 20px;
        }
        @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
          width: 20px;
        }
      }
      li.prev {
        position: fixed;
        left: 5%;
        top: 50%;
        padding: 2%;
        img:hover {
          -moz-transform: scale(1) rotate(0deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(0deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(0deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(0deg) translateX(-10px) translateY(0px) skewX(0deg) skewY(0deg);
        }
      }
      li.next {
        position: fixed;
        right: 5%;
        top: 50%;
        padding: 2%;
        img:hover {
          -moz-transform: scale(1) rotate(0deg) translateX(10px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(10px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(0deg) translateX(10px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(0deg) translateX(10px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(0deg) translateX(10px) translateY(0px) skewX(0deg) skewY(0deg);
        }
      }
    }
  }
}
