@import "mixins";

header {
  text-align: center;
  //background: #ECE9E6; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //background: #D66D75; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to left, #D66D75 , #E29587); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to left, #D66D75 , #E29587); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  nav#main-nav {
    ul {
      padding: 0 4%;
      display: flex;
      justify-content: space-between;
      list-style: none;
      li {
        align-self: center;
        img {
          padding-top: 2%;
          height: 75px;
        }
        a {
          color: #333;
          letter-spacing: 1px;
          font-size: 1.2rem;
          font-style: italic;
          padding: 0 2px;
          &:hover {
          }
        }
      }
    }
  }
}