@import "mixins";

#info {
  p {
    position: relative;
    text-align: justify;
    margin: 10% 0;
    padding: 5% 9% 15% 4%;
    @media only screen and (min-device-width : 320px) and (max-device-width : 680px) {
    width: 90%;
    margin: 5% 0;
    }
    span:first-child {
      font-size: 200%;
      position: absolute;
      top: -80px;
      left: -50px;
      @media only screen and (min-device-width : 320px) and (max-device-width : 680px) {
        top: -80px;
        left: 15px;
      }
    }
  }
  // Arrows
  img {
    display: block;
    margin: 0 auto;
    height: 40px;
    @media only screen and (min-device-width : 320px) and (max-device-width : 680px) {
      height: 20px;
    }
    @media only screen and (min-width : 1224px) and (max-device-width : 1824px){
      height: 30px;
    }
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    &.down {
      position: absolute;
      left: 50%;
      bottom: 20vh;
    }
    &.up {
      position: absolute;
      left: 50%;
      top: 0;
    }
    &.down:hover {
      -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(10px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(10px) skewX(0deg) skewY(0deg);
-o-transform: scale(1) rotate(0deg) translateX(0px) translateY(10px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(10px) skewX(0deg) skewY(0deg);
transform: scale(1) rotate(0deg) translateX(0px) translateY(10px) skewX(0deg) skewY(0deg);
    }
    &.up:hover {
      -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(-10px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(-10px) skewX(0deg) skewY(0deg);
-o-transform: scale(1) rotate(0deg) translateX(0px) translateY(-10px) skewX(0deg) skewY(0deg);
-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(-10px) skewX(0deg) skewY(0deg);
transform: scale(1) rotate(0deg) translateX(0px) translateY(-10px) skewX(0deg) skewY(0deg);
    }
  }
  .img-wrapper {
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    @media only screen and (min-device-width : 320px) and (max-device-width : 680px) {
    flex-direction: column;
    display: none;
    }
    img {
      height: 30px;
    }
  }
}
