@import "mixins";

#intro {
  display: none;
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Yep! */
  // height: 59%;
  @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
  width: 100%;
  }
  p {
    // font-family: 'Playfair Display', serif;
    font-size: 4rem;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5!important;
    webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: 2px;
    padding: 5vh;
    }
    i {
      font-size: 1rem;
      vertical-align: super;
    }
    span {
      border-right: 1px solid $mainColor;
      margin-right: 2%;
      padding-left: 0;
      // letter-spacing: 8px;
      // text-transform: uppercase;
      // font-weight: bold;
      // font-family: $navFont;
      &:last-child {
        font-size: 60%;
        border: none;
      }
    }
  }
}
