@import "mixins";

#intro {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Yep! */
  // height: 59%;
  @media only screen and (min-device-width : 320px) and (max-device-width : 680px) {
  width: 100%;
  }
  p {
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: left;
    line-height: 1.5!important;
    webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    @media only screen and (min-device-width : 320px) and (max-device-width : 680px) {
    margin-top: 50vh;
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: 2px;
    padding: 5vh;
    }
    i {
      font-size: 1rem;
      vertical-align: super;
    }
    span {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
