@import "mixins";

section#portfolio {
  div.row {
    display: flex;
    article {
      margin: 4%;
      h3 {
        background: $secondColor;
        color: #fff;
        font-family: $navFont;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;
        padding: 2%;
        margin: 0;
      }
      img {
        width: 100%;
        -webkit-transition: all 400ms ease-in;
        -moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
        transition: all 400ms ease-in;

        &:hover {
          opacity: .8;
        }
      }
      ul {
        margin-top: 2%;
        font-family: $navFont;
        letter-spacing: 2px;
        line-height: 2;
        font-size: .8rem;
      }
    }
  }
}