@import "mixins";

section#portfolio {
  div.row {
    display: flex;
    article {
      margin: 4%;
      position: relative;
      img {
        width: 100%;
        filter: grayscale(100%);

        -webkit-box-shadow: 0 5px 20px 0 #333;
        box-shadow: 0 5px 20px 0 #333;

        -webkit-transition: all 400ms ease-in;
        -moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
        transition: all 400ms ease-in;

        &:hover {
          filter: none;
          opacity: .5;
        }
      }
      ul {
        display: none;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 2%;
        letter-spacing: 2px;
        color: #333;
        h3 {
          text-transform: uppercase;
          font-style: italic;
          font-size: 2rem;
          //letter-spacing: 2px;
          font-weight: bold;
          margin: 0;
          margin-bottom: 20px;
          line-height: 1;
          color: $mainColor;
        }
        li {
          padding: 2%;
        }
      }
    }
  }
}