@import "mixins";

section#portfolio {
  @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
  overflow-x: hidden;
  margin-top: 200px;
  }
  ul {
    li {
      height: 100vh;
      @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
        height: auto;
      }
      text-align: center;
      display: inline-block;
      padding: 0 20px;
      margin: 0 40px 50px 40px;
      -webkit-transition: all 100ms ease-in;
      -moz-transition: all 100ms ease-in;
      -ms-transition: all 100ms ease-in;
      -o-transition: all 100ms ease-in;
      transition: all 100ms ease-in;
      &:last-child {
        height: 50vh;
      }
      &:hover {
        @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
        }
      }
      @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
        width: 100%;
        margin: 40px 0;
      }
      img {
        width: 100%;
        border: 1px solid $mainColor;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        &:hover {
          -webkit-box-shadow: 0px 21px 32px 0px rgba(0,0,255,0.57);
          -moz-box-shadow: 0px 21px 32px 0px rgba(0,0,255,0.57);
          box-shadow: 0px 21px 32px 0px rgba(0,0,255,0.57);
        }
        @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
          width: 100%;
        }
      }
      h2 {
        text-transform: uppercase;
        letter-spacing: 4px;
        // font-style: italic;
        font-weight: 100;
        font-size: 1.4rem;
        margin-top: 40px;
        @media only screen and (min-device-width : 320px) and (max-device-width : 740px) {
          font-size: 1rem;
        }
      }
      div.status {
        display: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 80%;
        i {
          -moz-transition: all 200ms ease-in;
          -ms-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          transition: all 200ms ease-in;
          &:hover {
            opacity: .6;
          }
        }
      }
    }
  }
}
