@import "mixins";

#intro {
  margin-top: 200px;
  #quotes {
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;
    font-style: italic;
    .quote {
      line-height: 1.4;
      text-align: center;
      &:first-child {
        font-size: 4rem;
        line-height: 1.2;
        letter-spacing: 4px;
      }
        span[class*=line] {
          display: block;
        }
        p.text {
          background: rgba(225, 225, 225, .8);
          margin: 0;
          padding: 0;
        }
        p.attrib {
        }
      }
    }
  }


