@import "mixins";

#quoi {
  h2 {
    font-family: $navFont;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-size: 1.8rem;
    letter-spacing: 4px;
    margin-bottom: 4%;
  }
  #coeurdemetier {
    display: flex;
    justify-content: space-between;
    article {
      width: 45%;
      h3 {
        font-family: $navFont;
        background: $secondColor;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;
        padding: 2%;
        margin: 0;
      }
    }
  }
  a {
    display: block;
    margin: 0 auto;
    width: 35%;
    text-align: center;
    padding: 1%;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 4px;
    line-height: 1.5;
    color: #fff;
    background: $secondColor;
    &:hover {
      opacity: .6;
    }
  }
}