@import "mixins";

#intro {
  height: 100vh;
  #quotes {
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;
    font-style: italic;
    .quote {
      padding: 25vh 4% 0 4%;
      line-height: 1.4;
      text-align: center;
      &:first-child {
        font-size: 4rem;
        line-height: 1.2;
        letter-spacing: 4px;
      }
        span[class*=line] {
          display: block;
        }
        p.text {
          margin: 0;
          padding: 0;
        }
        p.attrib {
        }
      }
    }
  }


